/* YOUR CSS STYLES */





/* WEB STYLES TEMP */
h3{
    font-size: medium;
    font-weight: 900;
    padding-top: 10%;
    padding-bottom: 2%;
}

.sk02{
    padding-bottom: 80px;
    padding-top: 500px;
    width: 1000px;
}


/* WEB STYLES */
body {
    font-family: 'Roboto', sans-serif;
    color: rgb(70, 70, 70);
    /*background: rgb(140,145,30);*/
    padding-top: 0px;
}

h2 {
    padding-bottom: 2%;
    padding-top: 5%;
}

p{
    font-size: 12px;
    font-weight: normal;
    line-height: 25px;

    padding-left: 0px;
}

strong{
    font-size: 15px;
    font-weight: 900;
    line-height: 25px;

    padding-left: 80px;
}

#coverpage{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: rgb(255,255,255);

    background-image: url("img/YvetteDeWit_01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25%;
    padding-top: 25%;
}

#facts{
    font-size: 20px;
    font-weight: 200;
    color:rgb(255,255,255);
    background-color: rgb(255,255,255);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    line-height: 80px;

}

.africaIntro{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:rgb(255,255,255);
    background-color: rgb(70,70,70);

    padding-bottom: 25%;
    padding-top: 25%;

    padding-left: 7%;
    padding-right: 7%;
    /*
    line-height: 80px;
    */
}

.africaIntro{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color:rgb(255,255,255);
    background-color: rgb(70,70,70);


    padding-bottom: 25%;
    padding-top: 25%;

    padding-left: 7%;
    padding-right: 7%;

}
#credits{
    font-size: 15px;
    color: rgb(255,255,255);
    font-weight: 200;
    line-height: 25px;
    text-align: right;
    background-color: rgb(70,70,70);
    padding-bottom: 1%;
    padding-top: 1%;

    padding-left: 3%;
    padding-right: 3%;

}



#wedo{
    font-size: 30px;
    font-weight: 200;
    line-height: 70px;

}

#sources{
    padding-left: 5%;
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 5%;

}
/*CHARTS & INTERACTION*/
h4{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 80px;

}

.container{
    padding-top: 5%;
    padding-bottom: 5%;
}

#chart-area{
    font-size: 10px;
    padding-bottom: 10%;
}

#btn-update {
    font-size: 10px;
    font-weight: 900;
}

.d3-tip {
    font-size: 10px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    background-color: rgb(70, 70, 70);

    /*Padding*/
    padding-left: 4px;
    padding-bottom: 1px;
    padding-right: 6px;
    padding-top: 1px;
}

.text-legend {
    font-size: 10px;
    font-weight: normal;
    color: rgb(70, 70, 70);

}



/***************/
/*  BAR CHART  */
/***************/

.bar {

}
#x-label{
    font: 8px sans-serif;
    font-weight: 900;

}

.axis {
    font: 10px sans-serif;

}

.axis-title {
    fill: #9C8B83;
    font-size: 11px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis {
    font-size: 12px;
}

.x-axis path {
    display: none;
}

.x-axis line {
    display: none;
}

.minor line {
    stroke: #777;
    stroke-dasharray: 2,2;
}




/***************/
/*  BAR CHART  */
/***************/


.active{
    background: rgb(150,150,150);
}
/***************/
/*   NAV BAR   */
/***************/
/*
.navbar-nav > li > a {padding-top:5px !important; padding-bottom:1px !important;}
.navbar {height:5px !important}

*/
#logo-navbar{
    color:rgb(255,255,255);
}

.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 10px;
    height: 30px;
    padding-top: 10px;

}
.navbar{
    font-family: 'Roboto', sans-serif;
    color: rgb(250,250,250);
    background: rgb(20,20,20);
    /*height: 5px;*/
    min-height: 30px;
    border: 0;
}

.sr-only{height: 0px}

/******************/
/*   SEARCH BOX   */
/******************/

#SearchBox{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 25%;
    padding-right: 25%;

    background-image: url("img/FranciscoMoreno_01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#custom-search-input{
    border: solid 1px #fff;
    border-radius: 6px;
    background-color: #fff;
}
#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

h6{
    font-size: medium;
    font-weight: 900;
    padding-top: 10%;
    padding-bottom: 2%;
    color: rgb(255,255,255);
}


/**********************/
/*   GENRE SELECTOR   */
/**********************/

#GenreSelectorBox{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-left: 25%;
    padding-right: 25%;

    background-image: url("img/KarinaCarvalho_01.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#custom-dropdown{
    border: solid 1px #fff;
    border-radius: 6px;
    background-color: #fff;
    width:600px;
    text-align: center;
}
#custom-dropdown select{
    border: 0;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

}

#custom-dropdown .form-control {
    width:600px;
}

#genre-selector .form-group{

}
